<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="site.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
  <div class="bg-dark text-white" id="heading">
    <h1 id="pageTitle">Shopping List</h1>
    <p id="greeting">Welcome {{username}}</p>
<a href="/logout"><button id="btnLogout" class="btn btn-primary btn-sm">Logout</button></a>
  </div>
  <nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <form action="add_store" method="POST">
      <label>Enter store name :<input type="text" name="name" /></label>
      <label>Enter store street :<input type="text" name="street" /></label>
      <label>Enter store city :<input type="text" name="city" /></label>
      <label>Enter store state :<input type="text" name="state" /></label>
      <input class="btn btn-warning" type="submit" value="Add Store" />

    </form>

  </nav>
  <div id="storesContainer">

{{#storeList}}

  <div class="card border-info mb-3" id="mainContainer" style="max-width: 20rem;">
    <a href="/delete/{{id}}"><i class="fas fa-times" id="iconClosing"></i></a>
    <div class="card-header"><h3 class="storeTitle">{{name}}</h3>
    {{street}},{{city}},{{state}}
    </div>
    <div class="card-body text-info">
      <form action="add_item" method="POST">

      <h5 class="card-title"><label id="itemTextBox">Enter an item :</label>
        <input type="text" name="item" />
        <input type="hidden" name="storeId" value="{{id}}" />
      <input class="btn btn-warning" type="submit" value="Add" />
        </h5>
    </form>

      <p class="card-text">
        {{#items}}

          {{name}}
          <a href="/deleteItem/{{id}}"><i class="fas fa-times" id="itemClosing"></i></a> &nbsp;&nbsp;&nbsp;

        {{/items}}
      </p>

    </div>
  </div>
{{/storeList}}

</div>

</body>
</html>
